{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container-fluid">
<div class="card text-center welcome-card">
    <div class="card-header">
    
    <div class="card-body-home">
      <h1 class="card-title welcome-card-title">Welcome to Power Fitness!</h1>
      <p class="card-text welcome-card-text">Power Fitness is your one stop shop for achieving your fitness goals. We specialize in
        tailored personal training plans, nutrition plans and one to one coaching with our fitness experts. We also offer 
        a unique range of weights, kettle bells, nutritinal products and stylish gym gear.</p>
      <a href="{% url 'pt' %}" class="btn btn-danger meet-button">Meet our Fitness experts</a>
    </div>
  </div>
</div>

{% endblock %}