html {
    height: 100%;
}

.fa-shopping-bag{
    color: red;
}

.fa-user{
    color: red;
}

body{
    background-image: url("/media/crossfit-g48240eb5f_1920.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.power-logo{
    color: #f65868;
}

.navbar{
    background-color: black;
    opacity: .7;
    
}

.nav-link{
    font-family:'Teko', sans-serif;
    letter-spacing: 2px;
    margin:  auto 20px;
    font-size: large;
    
    
}
.navbar-light .navbar-nav .nav-link {
    color: #f65868;

}


.user-account-btn {
    color: #f65868;
    text-transform: capitalize;
}

.sign-up{
    margin: 200px auto;
    width: 40%;
}

.welcome-card{
    margin: 60px auto;
    width: 80%;
}

.welcome-card-title{
    font-family: 'Teko', sans-serif;
    text-transform: capitalize;
}


.welcome-card-text{
    font-family:  'Six Caps', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
}

.meet-button{
    font-family: 'Teko', sans-serif;
}

footer{
    margin-top: 50px;
    background-color: black;
    opacity: .8;
    width: 100%;
    
}

.social-footer {
	text-align: center;
	color: #f65868;
    font-size: 35px;
    padding-top: 30px;
    
}

a {
	color: #f65868;
    
}

a:hover{
    color: blue;
    text-decoration: none;
}




/*--- weights & accessories page ---*/

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background: lightgrey;
}


.weights-container{
    margin-top: 100px;
}

.card-body{
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-family: 'Teko', sans-serif;
}


/*--- Personal Trainer page ---*/

.pt-body{
    font-family: 'Teko', sans-serif;
    
}


.bio-row{
    margin: 50px auto;
}

.bio-col{
    padding-top: 100px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.bio-images {
    vertical-align: middle;
    width: 255px;
    height: 300px;
    border-radius: 2%;
}

.container-bio .bio-text {
    
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 255px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}


         
/*--- Basket---*/
  
.basket-table-head{
    font-family: 'Teko', sans-serif;
    letter-spacing: 2px;
    font-size: xx-large;
    background-color:black;
    opacity: .7;
    color: #f65868;;
    border-radius: 5%;
  }

  .basket-items-text{
    font-family: 'Teko', sans-serif;
    font-size: large;


  }

  .basket-contents{
      margin: 200px auto;
      background-color: whitesmoke;
      max-width: 400px;
      border-radius: 2%;
      text-align: center;
      font-family: 'Teko', sans-serif;
      letter-spacing: 1.5px;
  }

  .basket-row{
      padding: 100px;
     
  }

  .basket-btn{
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
  }

  .btt link,
  .update-link,
  .remove-item{
      cursor: pointer;
      color: white;
      text-transform: capitalize;
    
  }
  

/*--- Product details---*/


.product_detail_row{
    margin: 150px;
    margin-right: 20%;
    margin-left: 20%;
    align-content: center;
}

.product_detail_card{
    margin-top: 25px;
    align-content: center;
    font-family: 'Teko', sans-serif;
    
}

.product_detail_product_name{
    text-align: center;
}

.product-detail-btn{
    margin-top: 100px;
    margin-left: 15px;
}

.card-title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-img-top{
    
} 

