html {
    height: 100%;
}

body{
    background-image: url("/media/crossfit-g48240eb5f_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.user-account-btn {
    color: red;
    text-transform: capitalize;
}

.welcome-card{
    margin: 0px auto;
    width: 80%;
}

.welcome-card-title{
    font-family: 'Teko', sans-serif;
    text-transform: capitalize;
}


.welcome-card-text{
    font-family:  'Six Caps', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
}




/*--- weights & accessories page ---*/

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background: white;
}


.weights-container{
    margin-top: 100px;
}
