{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}


{% block content %}

    
<div class="overlay"></div>



        <div class="card product_detail_card" style="width: 18rem;">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title product_detail_product_name">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}<a>{{ product.price }}</a></p>
              <a href="{% url 'products' %}" class="btn btn-primary">Go Back</a>
            </div>
          </div>
        

{% endblock %}