{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}


{% block content %}

    
    


<div class="row product_detail_row row-eq-height">
    <div class="col">   
        <div class="card product_detail_card" style="width: 18rem;">
            {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
                <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
            {% else %}
            <a href="">
                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
            </a>
            {% endif %}
            <div class="card-body">
              <h5 class="card-title product_detail_product_name">{{ product.name }}</h5>
              <div class="product_detail_btn">
              
             </div>
            </div>
          </div>
    </div>
    <div class="col">
        <div class="card product_detail_card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <h5 class="card-title"> €{{ product.price }}</h6>
              <p class="card-text">{{ product.description }}</p>
              <div class="product-detail-btn">
              <a href="#" class="card-link btn btn-primary">Add to Basket</a>
              <a href="{% url 'products' %}" class="btn btn-danger ">Go Back</a>
              </div>
            </div>
          </div>
    </div> 
 </div>
        

{% endblock %}