{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}


{% block content %}


<div class="container pt-cards">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="car">
                <img src="/media/kyle.jpg" alt="jess trainer" class="card-img-top">
                <div class="card-body pt-bio">
                    <h5 class="card-title">Kyle Jacobs - PT and Life Coach </h5>
                    <p class="card-text">Kyle is the founder of Power Fitness and has been in the fitness
                        and nutrition industry for ten years. Kyle has helped countless clients achieve their
                        personal goals and continues to grow the company with passion and innovation.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="car">
                <img src="/media/anthony-actress-headshot-session-adelaide-3.jpg" alt="Anthony trainer" class="card-img-top">
                <div class="card-body pt-bio">
                    <h5 class="card-title">Anthony Caraway - PT and Nutritionist </h5>
                    <p class="card-text">Anthony was the second member of the Power Fitness family and is an expery
                        nutritionist whose tailored workout plans have helped countless clients achieve their goals.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="car">
                <img src="/media/samantha.jpg" alt="Samantha trainer" class="card-img-top">
                <div class="card-body pt-bio">
                    <h5 class="card-title">Samantha Laurel - PT and  <br>Nutritionist </h5>
                    <p class="card-text ">Samantha has been a part of the Power Fitness 
                        family for over 3 years now, and brings a wealth of experience to the team. 
                        Samantha has a bsc in nutrition and
                        and sports science.  
                       
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



    

    


{% endblock %}




