{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}


{% block content %}
<div class="overlay"></div>


<div class="row bio-row">
    <div class="col-sm-12 col-md-6 col-lg7">
        <p class="bio-spiel"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a type specimen book. It has survived 
            not only five centuries, but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
            Ipsum passages, and more recently 
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5">
        <div class="container-bio-pic">
        <img class="bio-pic" src="/media/anthony.jpg">
        </div>
        
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5">
        <img class="bio-pic" src="/media/kyle.jpg">
        
    </div>
    <div class="col-sm-12 col-md-6 col-lg7">
        <p class="bio-spiel"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a type specimen book. It has survived 
            not only five centuries, but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
            Ipsum passages, and more recently 
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg7">
        <p class="bio-spiel"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a type specimen book. It has survived 
            not only five centuries, but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
            Ipsum passages, and more recently 
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5">
        <img class="bio-pic" src="/media/samantha.jpg">
        
    </div>
    <div class="col-sm-12 col-md-6 col-lg-5">
        <img class="bio-pic" src="/media/jess.jpg">
        
    </div>
    <div class="col-sm-12 col-md-6 col-lg7">
        <p class="bio-spiel"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a type specimen book. It has survived 
            not only five centuries, but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem 
            Ipsum passages, and more recently 
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>


</div>


{% endblock %}




