{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}


{% block content %}


<div class="pt-body">

<div class="row bio-row">
    

    <div class="col bio-col">
        <div class="container container-bio">
        
            <img src="/media/anthony-actress-headshot-session-adelaide-3.jpg" class="bio-images" alt="anthony trainer">
           
            <div class="bio-text"><p>Anthony Caraway</p><a>Personal Trainer & Nutritionist</a></div>
       
        </div>
    
    </div>
    
    <div class="col bio-col">
        <div class="container container-bio">
            
                <img src="/media/zach.jpg" class="bio-images" alt="anthony trainer">
               
                <div class="bio-text"><p>Zach Tracey</p><a>Personal Trainer</a></div>
           
        </div>
        
        </div>

        


    <div class="col bio-col">
    <div class="container container-bio">
        
            <img src="/media/kyle.jpg" class="bio-images" alt="Kyle trainer">
           
            <div class="bio-text"><p>Kyle Jacobs</p><a>Personal Trainer & Life Coach</a></div>
       
    </div>
    
    </div>

    <div class="col bio-col">
        <div class="container container-bio">
            
                <img src="/media/samantha.jpg" class="bio-images" alt="anthony trainer">
               
                <div class="bio-text"><p>Samantha Lewis</p><a>Personal Trainer</a></div>
           
        </div>
        
        </div>

        

</div>


    

    


{% endblock %}




